@import '~material-design-icons/iconfont/material-icons.css';


.barraNavegacion {
    background-color: #99CDCD;
}

.barraNavegacionVendedor {
    width: 200px;
    text-align: center;
    margin-left: 100px;
}

.iconoCarrito {
    width: 140px;
    text-align: center;
}

.barraNavegacionSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #CA99C5;
}

.barraNavegacionSubElementos {
    width: 15%;
}

.exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 140px;
    height: 65px;
}

.flecha {
    color: white;
    text-align: center;
}

.bodySubtitulo {
    text-align: center;
}

.cardTitulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cardPrecio {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cardAñadir {
    text-align: center;
}

.cardAñadirBoton {
    text-align: center;
    background-color: #CA99C5;
    width: 100px;
}

.cardEditar {
    text-align: center;
}

.cardEditarBoton {
    background-color: #CA99C5;
    width: 60px;
}

.labelDisponibles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000000;
}

.labelNoDisponibles {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FF0000;
}

.iconoss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6px;
}

.iconoss2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.botonNuevoProducto {
    background-color: #CA99C5;
}

.botonAcciones {
    text-align: center;
    background-color: #CA99C5;
    margin: 4px;
}.my-pagination{
    display: flex; 
    padding: 1.2rem;
    justify-content: center;
    background-color:#CA99C5;
}

.my-pagination {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    background-color: #CA99C5;
    margin-top: 2rem; /* Ajusta este valor según lo alto que quieras que esté la paginación */
}
.espacio{
    margin-bottom: 6rem;
}
