<div class="row bodySubtitulo">
    <div class="col l4"></div>
    <div class="col l4">
        <h4>
            <div *ngIf="idioma === '1'; then thenBlockEn else elseBlockEs"></div>
            <ng-template #thenBlockEn>{{ tituloEn }}</ng-template>
            <ng-template #elseBlockEs>{{ titulo }}</ng-template>
        </h4>
        <span>
            <a class="botonNuevoProducto waves-effect waves-light btn botonMostrarProductos"
                routerLink="/admin/productos"><i class="material-icons iconoss">keyboard_backspace</i></a>
        </span>
        <br>
        <br>
        <table class="hide-on-med nuevoProducto">
            <thead>
                <tr>
                    <th class="colores">{{"Nuevo Producto" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="colores">

                        <a (click)="CrearProducto()" href="#modalNuevoProducto"
                            class="btn  modal-trigger waves-effect waves-light botonNuevoProducto"><i
                                class="material-icons iconoss">add</i></a>

                        <div id="modalNuevoProducto" class="col s4 modal modal-fixed-footer">
                            <div class="modal-content ModalContenido">
                                <form #FormularioNuevoProducto="ngForm" class="formularios">
                                    <h4>{{"Nuevo Producto" | translate}}</h4>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="Producto">{{"Producto" | translate}}</label>
                                            <input [(ngModel)]="producto.producto" id="producto" type="text"
                                                class="validate" name="producto" required #productoo="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="productoo.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="Producto">{{"Producto en Ingles" | translate}}</label>
                                            <input [(ngModel)]="producto.producto_En" id="producto_En" type="text"
                                                class="validate" name="producto_En" required #productooE="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="productooE.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="precio">{{"Precio" | translate}}</label>
                                            <input [(ngModel)]="producto.precio" id="precio" type="text"
                                                class="validate" name="precio" required #precioo="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="precioo.valid">*</div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="costo">{{"Costo" | translate}}</label>
                                            <input [(ngModel)]="producto.costo" id="costo" type="text" class="validate"
                                                name="costo" required #costoo="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="costoo.valid">*</div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="cantidad">{{"Cantidad" | translate}}</label>
                                            <input [(ngModel)]="producto.cantidad" id="cantidad" type="text"
                                                class="validate" name="cantidad" required #cantidadd="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="cantidadd.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="descripcion">{{"Descripcion" | translate}}</label>
                                            <input [(ngModel)]="producto.descripcion" id="descripcion" type="text"
                                                class="validate" name="descripcion" required #descripcionn="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="descripcionn.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="descripcion">{{"Descripcion en Ingles" | translate}}</label>
                                            <input [(ngModel)]="producto.descripcion_En" id="descripcion_En" type="text"
                                                class="validate" name="descripcion_En" required #descripcionnE="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="descripcionnE.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col l1"></div>
                                        <div class="col l10 input-field">
                                            <label for="descripcion" class="active">{{"Descuento" | translate}}</label>
                                            <input [(ngModel)]="producto.id_tipoDescuento" id="descripcion" type="text"
                                                class="validate" name="id_tipoDescuento" required #desc="ngModel">
                                        </div>
                                        <div class="alert alert-danger mt-2 asterisco" [hidden]="desc.valid">*
                                        </div>
                                        <div class="col l1"></div>
                                    </div>
                                    <br>
                                    <br>

                                    <!--
                                            <div class="input-field ModalSeleccionador">
                                                <select class="form-control" [(ngModel)]="producto.id_tipoProducto" id="idTipoProducto" type="text" class="validate" name="idTipoProducto">
                                                  <option value="" disabled selected>...</option>
                                                  <option *ngFor="let tipoProducto of tiposProductos" [value]="tipoProducto.id">{{tipoProducto.tipo_producto}}</option>
                                                </select>
                                                <label>Tipo De Producto</label>
                                            </div>
                                            -->
                                </form>
                            </div>
                            <div class="modal-footer ModalFooter">
                                <button (click)="NuevoProducto()"
                                    class="modal-close waves-effect waves-green btn ModalBotones"
                                    [disabled]="FormularioNuevoProducto.invalid">{{"Confirmar" | translate}}</button>
                                <a class="modal-close waves-effect waves-green btn ModalBotones">{{"Cancelar" | translate}}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col l4"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s3 card medium" *ngFor="let p of productos | paginate: {
        itemsPerPage: pageSize,
        currentPage: p
        };let i=index">
        <div style="text-align: center; padding-top: 4px;">
            <img *ngIf="p.fotito == 1" width="64" src="{{liga}}/productos/{{p.id}}.jpg"
                alt="Foto de Producto">
            <img *ngIf="p.fotito == 0" width="64" src="{{liga}}/productos/0.jpg"
                alt="Foto de Producto">
        </div>
            <div class="card-content">
                <div *ngIf="idioma==='1'; then thenBlockEn else elseBlockEs"></div>
            <ng-template #thenBlockEn><p class="card-title activator grey-text text-darken-4 cardTitulo">{{p.producto_En}}</p></ng-template>
            <ng-template #elseBlockEs><p class="card-title activator grey-text text-darken-4 cardTitulo">{{p.producto}}</p></ng-template>
        
            <div *ngIf="idioma==='1'; then thenBlockDescEn else elseBlockDescEs"></div>
            <ng-template #thenBlockDescEn><p class="cardPrecio">{{p.descripcion_En}}</p></ng-template>
            <ng-template #elseBlockDescEs><p class="cardPrecio">{{p.descripcion}}</p></ng-template>
                <br>
                <br>
                <span class="card-title activator grey-text text-darken-4 cardPrecio">${{p.precio}}</span>
                <label class="labelDisponibles">{{"Disponibles" | translate}}: {{p.cantidad}}</label>
                <br>
                <p class="cardEditar">
                    <a (click)="EditarProducto(p.id)" class="waves-effect waves-light btn btn-floating modal-trigger botonAcciones" href="#modalEditarProducto"><i class="material-icons iconoss">edit</i></a>
                    <a (click)="EliminarProducto(p.id,p.producto)" class="waves-effect waves-light btn btn-floating modal-trigger botonAcciones"><i class="material-icons iconoss">delete</i></a>
                    <a (click)="mostrarImagen(p)"
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">image</i></a>
                </p>
            </div>
        </div>
    </div>
    <div class="row centrar espacio">
        <pagination-controls class="my-pagination" (pageChange)="p = ($event)"
        previousLabel="{{ 'anterior' | translate }}"
        nextLabel="{{ 'siguiente' | translate }}">
    </pagination-controls>
    </div>
</div>

<div class="row bodySubtitulo">
    <div id="modalEditarProducto" class="col s4 modal modal-fixed-footer">
        <div class="modal-content ModalContenido">
            <h4>{{"Editar Producto" | translate}}</h4>
            <form #FormularioEditarProducto="ngForm" class="formularios">
                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_producto">{{"Producto" | translate}}</label>
                        <input [(ngModel)]="producto.producto" id="editar_nombre_producto" type="text" class="validate"
                            name="editar_nombre_producto" required #productooo="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="productooo.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>
                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="Producto">{{"Producto en Ingles" | translate}}</label>
                        <input [(ngModel)]="producto.producto_En" id="producto_En" type="text"
                            class="validate" name="producto_En" required #productooE="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="productooE.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_precio">{{"Precio" | translate}}</label>
                        <input [(ngModel)]="producto.precio" id="editar_precio" type="text" class="validate"
                            name="editar_precio" required #preciooo="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="preciooo.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_costo">{{"Costo" | translate}}</label>
                        <input [(ngModel)]="producto.costo" id="editar_costo" type="text" class="validate"
                            name="editar_costo" required #costooo="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="costooo.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_cantidad">{{"Cantidad" | translate}}</label>
                        <input [(ngModel)]="producto.cantidad" id="editar_orreo" type="text" class="validate"
                            name="editar_cantidad" required #cantidaddd="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="cantidaddd.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_telefono">{{"Descripcion" | translate}}</label>
                        <input [(ngModel)]="producto.descripcion" id="editar_descripcion" type="text" class="validate"
                            name="editar_descripcion" required #descripcionnn="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="descripcionnn.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="descripcion">{{"Descripcion en Ingles" | translate}}</label>
                        <input [(ngModel)]="producto.descripcion_En" id="descripcion_En" type="text"
                            class="validate" name="descripcion_En" required #descripcionnE="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="descripcionnE.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                
                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label for="descripcion" class="active">{{"Descuento" | translate}}</label>
                        <input [(ngModel)]="producto.id_tipoDescuento" id="descripcion" type="text" class="validate"
                            name="id_tipoDescuento">
                    </div>
                    <div class="col l1"></div>
                </div>
            </form>
        </div>
        <div class="modal-footer ModalFooter">
            <button (click)="ConfirmarEdicionProducto(producto.id,producto.producto)"
                class="modal-close waves-effect waves-green btn ModalBotones"
                [disabled]="FormularioEditarProducto.invalid">{{"Confirmar" | translate}}</button>
            <a class="modal-close waves-effect waves-green btn ModalBotones">{{"Cancelar" | translate}}</a>
        </div>
    </div>
</div>

<div id="Imagen" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h5 class="center">{{"Imagen" | translate}}</h5>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="input-field col s12">

                    <div align="center">
                        <img *ngIf="producto.fotito == 1" width="64" src="{{liga}}/productos/{{producto.id}}.jpg"
                            alt="{{liga}}/productos/{{producto.id}}.jpg">
                        <img *ngIf="producto.fotito == 0" width="64" src="{{liga}}/productos/0.jpg"
                            alt="Foto de Producto">
                    </div>
                </div>

                <div class="input-field col s6">
                    <label>{{"Imagen de usuario" | translate}}</label>
                    <br><br>
                    <input type="file" (change)="cargandoImagen($event.target)" multiple>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
                        (click)="guardarActualizarUsuario(producto)" value="Enviar">
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large brown lighten-3
    black-text">{{"Cancelar" | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>