@import '~material-design-icons/iconfont/material-icons.css';

.barraNavegacion {
    background-color: #99CDCD;
}

.barraNavegacionVendedor {
    width: 200px;
    text-align: center;
    margin-left: 100px;
}

.barraNavegacionSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #CA99C5;
}

.barraNavegacionSubElementos {
    width: 15%;
}

.exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 140px;
}

.flecha {
    color: white;
    text-align: center;
}

.bodySubtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.cardTitulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cardAñadir {
    text-align: center;
}

.cardAñadirBoton {
    text-align: center;
    background-color: #CA99C5;
}

.agregarProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconoss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
}