<div class="row bodySubtitulo">
    <div class="col l4"></div>
    <div class="col l4">
        <h4>{{"APARTADOS" | translate}}</h4>
    </div>
    <div class="col l4"></div>
</div>

<div class="row">
    <div class="col l4"></div>
    <div class="col l4">
        <form action="#">
            <table class="buscadorCliente">
                <tr>
                    <td>
                        <input type="text" placeholder="#, Nombre, Telefono">
                    </td>
                    <td>
                        <button class="btn waves-effect waves-light botonAcciones" type="submit" name="action"><i
                                class="material-icons iconoss">search</i>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col l4"></div>
</div>

<div class="row">
    <div class="col l1"></div>
    <div class="col l10">
        <label class="col s2 colores"><img src="../../../assets/imgs/liquidados.png">{{"Liquidados" | translate}}</label>
        <label class="col s2 colores"><img src="../../../assets/imgs/noLiquidados.png">{{"No Liquidados" | translate}}</label>
        <table class="">
            <thead>
                <tr>
                    <th class="tablaCabecera">#</th>
                    <th class="tablaCabecera">{{"Fecha" | translate}}</th>
                    <th class="tablaCabecera">{{"Hora" | translate}}</th>
                    <th class="tablaCabecera">{{"Cliente" | translate}}</th>
                    <th class="tablaCabecera">{{"Telefono" | translate}}</th>
                    <th class="tablaCabecera">{{"Producto" | translate}}</th>
                    <th class="tablaCabecera">{{"Total" | translate}}</th>
                    <th class="tablaCabecera">{{"Restante" | translate}}</th>
                    <th class="tablaCabecera"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tablaFilas">1</td>
                    <td class="tablaFilas">23/12/2023</td>
                    <td class="tablaFilas">15:20</td>
                    <td class="tablaFilas">Alvin</td>
                    <td class="tablaFilas">9532299572</td>
                    <td class="tablaFilas">Cadena Plata</td>
                    <td class="tablaFilas">$2300</td>
                    <td class="tablaFilas">$200</td>
                    <td class="tablaFilas"><a class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">payment</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">check</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">format_align_justify</i></a></td>
                </tr>
                <tr class="liquidados">
                    <td class="tablaFilas">2</td>
                    <td class="tablaFilas">03/01/2024</td>
                    <td class="tablaFilas">10:43</td>
                    <td class="tablaFilas">Alan</td>
                    <td class="tablaFilas">9532435253</td>
                    <td class="tablaFilas">Collar Oro</td>
                    <td class="tablaFilas">$600</td>
                    <td class="tablaFilas">$100</td>
                    <td class="tablaFilas"><a class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">payment</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">check</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">format_align_justify</i></a></td>
                </tr>
                <tr class="noliquidados">
                    <td class="tablaFilas">3</td>
                    <td class="tablaFilas">03/01/2024</td>
                    <td class="tablaFilas">10:45</td>
                    <td class="tablaFilas">Alan</td>
                    <td class="tablaFilas">9532435253</td>
                    <td class="tablaFilas">Collar Plata</td>
                    <td class="tablaFilas">$230</td>
                    <td class="tablaFilas">$90</td>
                    <td class="tablaFilas"><a class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">payment</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">check</i></a> <a
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">format_align_justify</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col l11"></div>
</div>