<footer>
    <div class="footer">
        <div class="brand-logo">
            <!--img src="../../../assets/imgs/Ámbar Gift Store-Logo PNG.png" alt="Logo" width="104" height="65"-->
        </div>
        <div class="iconos_footer">
            <img class="imagen_icono" src="../../../assets/imgs/instagram.png" alt="instagram">
            <img class="imagen_icono" src="../../../assets/imgs/facebook.png" alt="facebook">
            <img class="imagen_icono" src="../../../assets/imgs/whatsapp.png" alt="whatsapp">
            <img class="imagen_icono" src="../../../assets/imgs/twitter.png" alt="twitter">
        </div>
        <p class="text_footer">All rights reserved by Ambar Gift Store</p>
    </div>
</footer>