<div class="row bodySubtitulo">
    <div class="col l4"></div>
    <div class="col l4">
        <h4>{{"CAJEROS" | translate}}</h4>

        <!-- Modal Trigger -->
        <a (click)="CrearCajero()" class="waves-effect waves-light btn modal-trigger ingresos" href="#modalNuevoCajero">
            <i class="material-icons iconoss">add</i></a>

        <!-- Modal Structure -->
        <div id="modalNuevoCajero" class="col s4 modal modal-fixed-footer">
            <div class="modal-content ModalContenido">
                <h4>{{"Nuevo Cajero" | translate}}</h4>
                <form #FormularioNuevoCajero="ngForm" class="formularios">
                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="nombre_usuario">{{"Usuario" | translate}}</label>
                            <input [(ngModel)]="cajero.nombre_usuario" id="nombre_usuario" type="text" class="validate"
                                name="nombre_usuario" required #usuarioo="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="usuarioo.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="nombres">{{"Nombres" | translate}}</label>
                            <input [(ngModel)]="cajero.nombres" id="nombres" type="text" class="validate" name="nombres"
                                required #nombress="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="nombress.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="apellidos">{{"Apellidos" | translate}}</label>
                            <input [(ngModel)]="cajero.apellidos" id="apellidos" type="text" class="validate"
                                name="apellidos" required #apellidoss="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="apellidoss.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="correo">{{"Correo" | translate}}</label>
                            <input [(ngModel)]="cajero.correo" id="correo" type="text" class="validate" name="correo"
                                required #correoo="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="correoo.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="contrasena">{{"Contraseña" | translate}}</label>
                            <input [(ngModel)]="cajero.contrasena" id="contrasena" type="text" class="validate"
                                name="contrasena" required #contrasenaa="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="contrasenaa.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="telefono">{{"Telefono" | translate}}</label>
                            <input [(ngModel)]="cajero.telefono" id="telefono" type="text" class="validate"
                                name="telefono" required #telefonoo="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="telefonoo.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>

                    <div class="row">
                        <div class="col l1"></div>
                        <div class="col l10 input-field">
                            <label for="direccion">{{"Direccion" | translate}}</label>
                            <input [(ngModel)]="cajero.direccion" id="direccion" type="text" class="validate"
                                name="direccion" required #direccionn="ngModel">
                        </div>
                        <div class="alert alert-danger mt-2 asterisco" [hidden]="direccionn.valid">*
                        </div>
                        <div class="col l1"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer ModalFooter">
                <button (click)="NuevoCajero()" class="modal-close waves-effect waves-black btn ModalBotones"
                    [disabled]="FormularioNuevoCajero.invalid">{{"Confirmar" | translate}}</button>
                <a class="modal-close waves-effect waves-green btn ModalBotones">{{"Cancelar" | translate}}</a>
            </div>
        </div>

    </div>
    <div class="col l4"></div>
</div>

<div class="row bodySubtitulo">
    <div class="col l1"></div>
    <div class="col l10">
        <label class="col s2 colores"><img src="../../../assets/imgs/liquidados.png" class="imagen"> Activos{{"Correo" | translate}}</label>
        <label class="col s2 colores"><img src="../../../assets/imgs/noLiquidados.png"> Inactivos{{"Correo" | translate}}</label>
        <table *ngIf="cajeros != undefined" class="">
            <thead>
                <tr>
                    <th class="tablaCabecera"></th>
                    <th class="tablaCabecera">{{"Usuario" | translate}}</th>
                    <th class="tablaCabecera">{{"Correo" | translate}}</th>
                    <th class="tablaCabecera">{{"Nombres" | translate}}</th>
                    <th class="tablaCabecera">{{"Apellidos" | translate}}</th>
                    <th class="tablaCabecera">{{"Telefono" | translate}}</th>
                    <th class="tablaCabecera">{{"Direccion" | translate}}</th>
                    <th class="tablaCabecera"></th>
                </tr>
            </thead>
            <tbody *ngFor="let cajero of cajeros | paginate: {
                itemsPerPage: pageSize,
                currentPage: p
                };let i=index">
                <tr *ngIf="cajero.cajero_activo == 1" class="cajeroActivo">
                    <img *ngIf="cajero.fotito == 1" width="64" src="{{liga}}/usuarios/{{cajero.id}}.jpg"
                        alt="{{liga}}/usuarios/0.jpg">
                    <img *ngIf="cajero.fotito == 0" width="64" src="{{liga}}/usuarios/0.jpg"
                        alt="{{liga}}/usuarios/0.jpg">
                    <td class="tablaFilas">{{cajero.nombre_usuario}}</td>
                    <td class="tablaFilas">{{cajero.correo}}</td>
                    <td class="tablaFilas">{{cajero.nombres}}</td>
                    <td class="tablaFilas">{{cajero.apellidos}}</td>
                    <td class="tablaFilas">{{cajero.telefono}}</td>
                    <td class="tablaFilas">{{cajero.direccion}}</td>
                    <td class="tablaFilas"><a (click)="mostrarImagen(cajero)"
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">image</i></a><a (click)="EditarCajero(cajero.id)"
                            class="waves-effect waves-light btn btn-floating modal-trigger botonAcciones"
                            href="#modalEditarCajero"><i class="material-icons iconoss">edit</i></a>
                        <a (click)="DeshabilitarCajero(cajero.id,cajero.nombre_usuario)"
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">cancel</i></a>
                    </td>
                </tr>
                <tr *ngIf="cajero.cajero_activo == 0" class="cajeroInactivo">
                    <img *ngIf="cajero.fotito == 1" width="64" src="{{liga}}/usuarios/{{cajero.id}}.jpg"
                        alt="Foto de Perfil">
                    <img *ngIf="cajero.fotito == 0" width="64" src="{{liga}}/usuarios/0.jpg"
                        alt="Foto de Perfil">
                    <td class="tablaFilas">{{cajero.nombre_usuario}}</td>
                    <td class="tablaFilas">{{cajero.correo}}</td>
                    <td class="tablaFilas">{{cajero.nombres}}</td>
                    <td class="tablaFilas">{{cajero.apellidos}}</td>
                    <td class="tablaFilas">{{cajero.telefono}}</td>
                    <td class="tablaFilas">{{cajero.direccion}}</td>
                    <td class="tablaFilas"><a (click)="mostrarImagen(cajero)"
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">image</i></a><a (click)="EditarCajero(cajero.id)"
                            class="waves-effect waves-light btn btn-floating modal-trigger botonAcciones"
                            href="#modalEditarCajero"><i class="material-icons iconoss">edit</i></a><a
                            (click)="HabilitarCajero(cajero.id,cajero.nombre_usuario)"
                            class="waves-effect waves-light btn btn-floating botonAcciones"><i
                                class="material-icons iconoss">check</i></a>
                    </td>
                </tr>
        </table>
    </div>


    <div id="Imagen" class="modal">
        <div class="modal-content">
            <div class="row" style="margin-bottom: 0px !important;">
                <div class="col s12">
                    <h5 class="center">{{"Imagen" | translate}}</h5>
                </div>
            </div>
            <div style="border: .5px solid #78909c; padding: 10px;">
                <div class="row">
                    <div class="input-field col s12">

                        <div align="center">
                            <img *ngIf="cajero.fotito == 1" width="64" src="{{liga}}/usuarios/{{cajero.id}}.jpg"
                                alt="Foto de Perfil">
                            <img *ngIf="cajero.fotito == 0" width="64" src="{{liga}}/usuarios/0.jpg"
                                alt="Foto de Perfil">
                        </div>
                    </div>

                    <div class="input-field col s6">
                        <label>{{"Imagen de usuario" | translate}}</label>
                        <br><br>
                        <input type="file" (change)="cargandoImagen($event.target)" multiple>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
                            (click)="guardarActualizarUsuario(cajero)" value="Enviar">
                    </div>
                    <div class="col s6 center">
                        <a class="modal-action modal-close waves-effect btn-large brown lighten-3
        black-text">{{"Cancelar" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modalEditarCajero" class="col s4 modal modal-fixed-footer">
        <div class="modal-content ModalContenido">
            <h4>{{"Editar Cajero" | translate}}</h4>
            <form #FormularioEditarCajero="ngForm" class="formularios">
                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_nombre_usuario">{{"Usuario" | translate}}</label>
                        <input [(ngModel)]="cajero.nombre_usuario" id="editar_nombre_usuario" type="text"
                            class="validate" name="editar_nombre_usuario" disabled="true">
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_nombres">{{"Nombres" | translate}}</label>
                        <input [(ngModel)]="cajero.nombres" id="editar_nombres" type="text" class="validate"
                            name="editar_nombres" disabled="true">
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_apellidos">{{"Apellidos" | translate}}</label>
                        <input [(ngModel)]="cajero.apellidos" id="editar_apellidos" type="text" class="validate"
                            name="editar_apellidos" disabled="true">
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_correo">{{"Correo" | translate}}</label>
                        <input [(ngModel)]="cajero.correo" id="editar_orreo" type="text" class="validate"
                            name="editar_correo" required #correooo="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="correooo.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_telefono">{{"Telefono" | translate}}</label>
                        <input [(ngModel)]="cajero.telefono" id="editar_telefono" type="text" class="validate"
                            name="editar_telefono" required #telefonooo="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="telefonooo.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>

                <div class="row">
                    <div class="col l1"></div>
                    <div class="col l10 input-field">
                        <label class="active" for="editar_direccion">{{"Direccion" | translate}}</label>
                        <input [(ngModel)]="cajero.direccion" id="editar_direccion" type="text" class="validate"
                            name="editar_direccion" required #direccionnn="ngModel">
                    </div>
                    <div class="alert alert-danger mt-2 asterisco" [hidden]="direccionnn.valid">*
                    </div>
                    <div class="col l1"></div>
                </div>
            </form>
        </div>
        <div class="modal-footer ModalFooter">
            <button (click)="ConfirmarEdicionCajero(cajero.id,cajero.nombre_usuario)"
                class="modal-close waves-effect waves-green btn ModalBotones"
                [disabled]="FormularioEditarCajero.invalid">{{"Confirmar" | translate}}</button>
            <a class="modal-close waves-effect waves-green btn ModalBotones">{{"Cancelar" | translate}}</a>
        </div>
    </div>

    <div class="col l1"></div>
</div>

<div class="container center-align">
    <div class="row centrar espacio">
        <pagination-controls class="my-pagination" (pageChange)="p = ($event)"
        previousLabel="{{ 'anterior' | translate }}"
        nextLabel="{{ 'siguiente' | translate }}">
    </pagination-controls>
    </div>
</div>